body {

    width: 100vw;
    height: 100vh;
    margin: 0px;
}
#root {

    width: 100vw;
    height: 100vh;
    margin: 0px;

    background-image: linear-gradient(to bottom right, #9d7d26, #821619);

    position: relative;
}
p{
    margin: 0px;
}








.main_box{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 1000px;
    height: 750px;

    background-color: rgba(255, 255, 255, 0.361);

    border-radius: 20px;

    display: grid;
    grid-template-rows: 110px auto;
}



















.lower_section{
    margin-top: 11px;
    position: relative;
}










.div_tries{

    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 15%;

    width: 100px;
    height: 100px;
    font-family: gilroy;
    font-weight: 700;
    font-size: 80px;

    background-color: white;
    border-radius: 13px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.278);


}

.ul_playing_steps {
    position: absolute;
    color: rgb(220, 218, 218);
    font-family: gilroy;
}






