body {

    width: 100vw;
    height: 100vh;
    margin: 0px;
}
#root {

    width: 100vw;
    height: 100vh;
    margin: 0px;

    background-image: linear-gradient(to bottom right, #9d7d26, #821619);

    position: relative;
}
p{
    margin: 0px;
}








.main_box{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    width: 1000px;
    height: 750px;

    background-color: rgba(255, 255, 255, 0.361);

    border-radius: 20px;

    display: grid;
    grid-template-rows: 110px auto;
}



















.lower_section{
    margin-top: 11px;
    position: relative;
}



















